<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <style>
    html, body {
      height: 100%;
    }
    
    .full-height {
      height: 100%;
    }
  </style>
  {%- include head.html -%}
  <script src='https://talk.greenhost.net/external_api.js'></script>
  <script type="text/javascript">
    function setMembers() {
        postData = JSON.stringify({"members": api._participants});
        console.log(postData);
        var xhr = new XMLHttpRequest();
        xhr.open("POST",
            'https://feestje.maartendewaard.nl/api/roommembers.php?function=setmembers&room={{ page.room }}', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(postData);
    }

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      window.location.replace("https://talk.greenhost.net/{{ page.jitsiRoom }}");
    } else {
      window.onload = function() {
        window.api = new JitsiMeetExternalAPI("talk.greenhost.net", {
          'roomName': '{{ page.jitsiRoom }}',
          'parentNode': document.querySelector('#meet'),
        })
      }
      setInterval(setMembers, 5000);
    }
  </script>


  <body>
    {%- include header.html -%}
    {{ content }}
    <div class="full-height" id="meet"></div>
  </body>
<footer class="h-card">
    Als dit niet werkt, klik dan hier: <a href="https://talk.greenhost.net/{{ page.jitsiRoom }}">https://talk.greenhost.net/{{ page.jitsiRoom }}</a>
</footer>

</html>
